.app_title {
  color: #0078d4 !important;
}

.bg {
  background-color: #f9fafa;
  opacity: 0.8;
  background-image: radial-gradient(#99ebe3 2px, transparent 2px),
    radial-gradient(#99ebe3 2px, #f9fafa 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}
